

body{
    font-size: 18px;
    line-height: 1.5;
    -webkit-font-smoothing: antialias;
}

/*  Ici on applique la méthode que le design system de Tachyon. on crée plusieurs 
class pour les appliquer directement sur chaque élément  */
.archivo,
.text-block h3{
    font-family: 'Archivo Black', sans-serif;
}


.cardo{
    font-family: 'Cardo', georgia, serif;
}



.hero-content {
    max-width: 752px;
}

.hero-subhead {
    font-size: 64px;
    font-family: 'Tenor Sans', sans-serif;
    margin-top: 16px;
}

.hero-heading{
    font-size: 64px;
    letter-spacing: 0.05em;
}

.text-block h3{
 font-size : 20px; 
 margin-top: 0;
 margin-bottom: 20px;
 text-transform: uppercase;
 letter-spacing: 0.05em;
}


/* For our date underline/overline styles */
.line{
    width: 40px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 1px;
    background-color: #1C1C1C;
}

